.todoItem {
  display: flex;
  margin: 1% 15%;
  text-align: center;
  border-radius: 10px;
}

h5 {
  font-size: 150%;
  padding: 1%;
  margin: 1%;
}

.checkbox {
  margin-left: 2%;
  width: 3%;
  border-radius: 100%;
}
